body{
  background: url('img/bg1.jpg');
  background-size:cover;
  background-repeat: no-repeat; 
  font-family: 'pt_sans_narrowregular';
}

.login{ 
  background: #241c1c66;
  max-width: 308px;
  margin: 0 auto;
  font-family: 'pt_sans_narrowregular';
  -webkit-animation-delay: 4s;
  padding: 59px 31px 58px 29px;
  /* Chrome, Safari, Opera */
  animation-delay: 2s;
  margin-top: 50px

}

/*.login img{
  margin-left: 25px;

}

.login h2{
margin-left: 25px;
margin-bottom: 0px;
}

.login h4{
  margin-left: 25px;
    margin-top: 0px;
    color: #ccc;
    font-weight: 100;
}
*/
.loginform input{
      height: 35px;
    margin: 15px;
    border-radius: 12px;
    border: none;
    width: 280px;
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
  
}





.loginform input:focus{
    outline: none;
}

.joinbtn{
  margin: 10px 30px 15px 90px  !important;
    background-color: #3690d0;
    color: white;
    font-size: 20px !important ;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 120px !important;
    text-align: center;
    height: 35px;

}


a{
font-family: 'pt_sans_narrowregular';
    text-align: center;
    font-weight: 200;
    text-decoration: none;
}
